[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dnspython = "==2.3.0"
pymongo = "==4.3.3"
python-dotenv = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
